<h1><%= t("activerecord.view.task.task_show") %></h1>

<div class="task_header_nav">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to t("activerecord.view.task.tasks_list"), tasks_path, class: "nav-link active btn btn-primary" %>
    </li>
  </ul>
</div>

<table class="table table-striped">
  <tbody>
  <tr>
    <th><%= t('activerecord.attributes.task.task_name') %></th>
    <td><%= @task.task_name %></td>
  </tr>
  <tr>
    <th><%= t('activerecord.attributes.task.description') %></th>
    <td><%= @task.description %></td>
  </tr>
  <tr>
    <th><%= t('activerecord.attributes.task.deadline') %></th>
    <td><%= @task.deadline %></td>
  </tr>
  <tr>
    <th><%= t('activerecord.attributes.task.status') %></th>
    <td><%= @task.status %></td>
  </tr>
  <tr>
    <th><%= t('activerecord.attributes.task.rank') %></th>
    <td><%= @task.rank %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.label.title") %></th>
    <td>
      <% @task.labels.each do |label| %>
        <span class="label label-success"><%= label.title %></span>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>

<%= link_to t("activerecord.view.task.edit_task"), edit_task_path(@task), class: "btn btn-primary", role: "button" %>
<%= link_to t("activerecord.view.task.destroy_task"), @task, method: :delete, data: { confirm: t( "activerecord.view.task.Are you sure you want to delete it?" )}, class: "btn btn-primary", role: "button" %>