<h1><%= t("activerecord.view.user.my_page") %></h1>

<div class="task_header_nav">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to t("activerecord.view.task.tasks_list"), tasks_path, class: "nav-link active btn btn-primary" %>
    </li>
  </ul>
</div>

<table class="table table-striped">
  <tbody>
  <tr>
    <th><%= t('activerecord.attributes.user.name') %></th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th><%= t('activerecord.attributes.user.email') %></th>
    <td><%= @user.email %></td>
  </tr>
  </tbody>
</table>

<%#= link_to t("activerecord.view.task.edit_task"), edit_task_path(@task), class: "btn btn-primary", role: "button" %>
<%#= link_to t("activerecord.view.task.destroy_task"), @task, method: :delete, data: { confirm: t( "activerecord.view.task.Are you sure you want to delete it?" )}, class: "btn btn-primary", role: "button" %>