<!DOCTYPE html>
<html>
  <head>
    <title>TaskManage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>">
        <%= msg.html_safe %>
      </div>
    <% end %>


      <div class="task_header_nav">
        <ul class="nav nav-pills">
        <li class="nav-item">
          <% if logged_in? %>
            <%= link_to t("activerecord.view.session.Log_out"), session_path(current_user.id), method: :delete, class: "nav-link active btn btn-primary" %>
        </li>
          <% else %>
        <li class="nav-item">
          <%= link_to t("activerecord.view.session.Sign_up"), new_user_path, class: "nav-link active btn btn-primary" %>
        </li>
        <li class="nav-item">
          <%= link_to t("activerecord.view.session.Log_in"), new_session_path, class: "nav-link active btn btn-primary" %>
        </li>
          <% end %>
          </ul>
      </div>

    <%= yield %>

  </div>
  </body>
</html>
